hot-deploy/*/build
bin/
runtime/git-rebase/*
runtime/svninfo.ftl
runtime/test-list-build.xml
runtime/logs/access_log.*
runtime/logs/cobertura-base.dat
runtime/logs/cobertura-components.dat
runtime/logs/cobertura-report
runtime/logs/*.log*
runtime/logs/*.html*
runtime/logs/test-results/*
runtime/data/derby/*
runtime/data/utilcache.*
runtime/catalina/work/*
runtime/jetty
runtime/tempfiles/*
